.ContactData {
    width: 80%;
    margin: 0 auto 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 3px  #ccc;
    border: 1px solid #ccc;
}

.ContactData input {
    display: block;
    margin: 16px;
}

@media screen and (min-width: 600px) {
    .ContactData {
        width: 480px;
    }
}